.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  padding: 20px;
}
.user-items {
  width: 30%;
  border-radius: 20px;
  padding: 10px;
  border: 1px black dashed;
}
.user-items:hover {
  border: 3px rgb(0, 123, 255) solid;
  
}
img {
  display: flex;
  position: relative;
  width: 80px;
  bottom: 80px;
}
.username {
  display: flex;
  position: relative;
  left: 95px;
  color: rgb(0, 123, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}
.NAME {
  display: flex;
  position: relative;
  left: 150px;
  bottom: 100px;
}
.aa {
  color: red;
}
.name {
  display: flex;
  position: relative;
  left: 10px;
}
.ADDRESS {
  display: flex;
  position: relative;
  left: 150px;
  bottom: 98px;
}
.address {
  display: flex;
  position: relative;
  left: 10px;
}
.EMAIL {
  display: flex;
  position: relative;
  left: 150px;
  bottom: 96px;
}
.email {
  display: flex;
  position: relative;
  left: 10px;
}
.PHONE {
  display: flex;
  position: relative;
  left: 150px;
  bottom: 94px;
}
.phone {
  display: flex;
  position: relative;
  left: 10px;
}
.WEB {
  display: flex;
  position: relative;
  left: 100px;
  bottom: 30px;
}
.web{
  display: flex;
  position: relative;
  left: 10px;
  text-decoration: underline;  
}
